COMPOSE_PROJECT_NAME=cassiopeia

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_DATABASE=cassiopeia
MYSQL_USER=root
MYSQL_PASSWORD=rootpw

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_DATABASE=0
REDIS_PASSWORD=

BLOGGER_BLOG_ID=yourdummyblogid
BLOGGER_API_KEY=yourdummyapikey
BLOGGER_MAX_POST=9
